@import "tailwindcss";

@import "./theme.css";
@import "./utilities.css";
@import "./components.css";
@import "./typography.css";

html,
body {
  @apply font-sans font-[300];

  margin: 0;
  width: 100%;
  height: 100%;
}

.bg-primary + .bg-primary,
.bg-black + .bg-black,
.bg-white + .bg-white {
  @apply !pt-0;
}
