---
import { storyblokEditable } from '@storyblok/astro';
import ChevronRight from '@/assets/svg/chevron-right.svg';

const { blok } = Astro.props;
const { title, description, image, link } = blok;
---

<div class="carousel-tile group" {...storyblokEditable(blok)}>
  <div class="flex flex-col justify-end h-full min-h-[390px] p-3 lg:p-5">
    <img
      src={image.filename}
      alt={image.alt}
      class="absolute inset-0 size-full object-cover group-hover:scale-103 transition-all duration-200 ease-out"
    />
    <div class="absolute inset-0 bg-black/40 z-1"></div>

    <div class="flex gap-4 z-1 items-end">
      <div>
        <h5 class="text-white font-display z-1">{title}</h5>
        <p class="text-white z-1 mb-0">{description}</p>
      </div>

      <a
        href={link.cached_url || link.url}
        class="icon size-7 aspect-square bg-white text-primary group-hover:bg-primary group-hover:text-white flex items-center justify-center mb-1 mr-1 transition-all duration-200 ease-out rounded-[2px]"
      >
        <svg
          width="14px"
          height="14px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="currentColor"
          stroke-width="0.00024000000000000003"
        >
          <>
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.9394 12.0001L8.46973 6.53039L9.53039 5.46973L16.0607 12.0001L9.53039 18.5304L8.46973 17.4697L13.9394 12.0001Z"
                fill="currentColor"></path>
            </g>
          </>
        </svg>
      </a>
    </div>
  </div>
</div>
