---
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
const { name, position, image } = blok;
---

<div
  class="church-member relative overflow-hidden"
  {...storyblokEditable(blok)}
>
  <div class="aspect-4/5">
    <img src={image.filename} alt={image.alt} class="size-full object-cover" />
  </div>
  <p class="mt-2 mb-0 text-primary font-[500]">{name}</p>
  <p class="text-sm">{position}</p>
</div>
