---
import { twJoin } from 'tailwind-merge';

const { id, barColor = 'black', className } = Astro.props;
---

<div id={id} class={twJoin('swiper-pagination-progressbar', className)}></div>

<style define:vars={{ barColor }}>
  .swiper-pagination-progressbar {
    position: relative;
    overflow: hidden !important;
    height: 1px !important;

    .swiper-pagination-progressbar-fill {
      background: var(--barColor);
    }
  }
</style>
