---
import { twJoin } from 'tailwind-merge';

const { className, ariaLabel, id, svg: Svg } = Astro.props;
---

<button
  type="button"
  id={id}
  aria-label={ariaLabel}
  class={twJoin(
    'size-8 cursor-pointer flex items-center justify-center bg-primary text-white hover:bg-black transition-200 transition-colors ease-out',
    className
  )}
>
  <Svg />
</button>
