---
import { twJoin } from 'tailwind-merge';

const { className, ariaLabel, id, direction = 'left' } = Astro.props;
---

<button
  type="button"
  id={id}
  aria-label={ariaLabel}
  class={twJoin(
    'size-8 cursor-pointer flex items-center justify-center transition-200 transition-colors ease-out',
    className
  )}
>
  {
    direction === 'left' ? (
      <svg
        width="16px"
        height="16px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        stroke-width="0.00024000000000000003"
      >
        <>
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.0606 11.9999L15.5303 17.4696L14.4696 18.5303L7.93928 11.9999L14.4696 5.46961L15.5303 6.53027L10.0606 11.9999Z"
              fill="currentColor"
            />
          </g>
        </>
      </svg>
    ) : (
      <svg
        width="16px"
        height="16px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        stroke-width="0.00024000000000000003"
      >
        <>
          <g id="SVGRepo_bgCarrier" stroke-width="0" />
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g id="SVGRepo_iconCarrier">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.9394 12.0001L8.46973 6.53039L9.53039 5.46973L16.0607 12.0001L9.53039 18.5304L8.46973 17.4697L13.9394 12.0001Z"
              fill="currentColor"
            />
          </g>
        </>
      </svg>
    )
  }
</button>
